<header>
    <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to 'Signup', signup_path%></li>
      <li><a href="#!">Signup</a></li>
      <li class="divider"></li>
      <li><a href="#!">Logout</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="#!">Login</a></li>
      <li><a href="#!">Signup</a></li>
      <li class="divider"></li>
      <li><a href="#!">Logout</a></li>
    </ul>
      <nav>
        <div class="container">
          <div class="nav-wrapper">
            <%= link_to 'Tech Univeristy', root_path, class: "brand-logo right" %>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="#">Courses</a></li>
              <li><a href="#">Enrollments</a></li>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="sidenav" id="mobile-demo">
              <li><a href="#">Courses</a></li>
              <li><a href="#">Enrollments</a></li>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>

            </ul>
          </div>
        </div>
      </nav>
    </header>